* {
    margin: 0;
    padding: 5;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
}


.menu {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;
    background: #23376d;
    width: 100%;
    z-index: 100;
}


.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 25px 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

.titulo {
    color: #23376d;
    font-family: Brush Script MT;
    font-size: 55px;
    text-align: center;
    margin-top: 25px;
}

.kinal-desc {
    color: black;
    text-align: center;
    font-size: 15px;
    margin-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.cursos {
    margin: 25px;
    display: flex;
    background-color: rgb(255, 153, 20);
}

.titulo-curso {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 15, 68);
    color: white;
}

.descripcion-curso {
    padding: 20px;
    font-family: arial;
    font-weight: bold;
    text-align: justify;
    color: black;
}

.logo {
    width: 400px;
    height: 80px;
}

h2 {
    color: #23376d;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 25px;
    text-align: center;
    font-size: 45px;
}

.cuadros {
    background-color: #23376d;
    padding-top: 100px;
    padding-bottom: 100px;
}

.tabla-cuadros {
    padding-left: 230px;
    border-spacing: 10px;

}

.cuadro1 {
    background-color: yellow;

}

.cuadro2 {
    background-color: purple;
}

.cuadro3 {
    background-color: midnightblue;
}

.cuadro4 {
    background-color: chocolate;
}

.cuadro-simple {
    width: 200px;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 350px;
    float: right;
    margin-right: 25px;
    margin-bottom: 25px;
}

footer {
    background-color: #23376d;
    color: white;
    text-align: center;
    padding: 15px;
    bottom: 0;
    width: 100%;
    height: 25px;
    font-size: 13px;
    font-family: arial;
}